<!DOCTYPE html>

<html>
<head runat="server">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--favicon-->
	<link rel="icon" href="DBAssests/images/favicon-32x32.png" type="image/png" />
	<!--plugins-->
	<link href="/DBAssests/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
	<link href="/DBAssests/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
	<link href="/DBAssests/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
	<link href="/DBAssests/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
	<!-- loader-->
	<!-- Bootstrap CSS -->
	<link href="/DBAssests/css/bootstrap.min.css" rel="stylesheet">
	<link href="/DBAssests/css/bootstrap-extended.css" rel="stylesheet">
	<link href="/https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;display=swap" rel="stylesheet">
	<link href="/DBAssests/css/app.css" rel="stylesheet">
	<link href="/DBAssests/css/icons.css" rel="stylesheet">
	<!-- Theme Style CSS -->
	<link rel="stylesheet" href="/DBAssests/css/dark-theme.css" />
	<link rel="stylesheet" href="/DBAssests/css/semi-dark.css" />
	<link rel="stylesheet" href="/DBAssests/css/header-colors.css" />

	<title></title>
	
</head>
<body>
	<form id="form1" runat="server">
		<div>
			<!--wrapper-->
			<div class="wrapper">
				<!--sidebar wrapper -->
				<div class="sidebar-wrapper" data-simplebar="true">
					<div class="sidebar-header">
						<div>
							<img src="/assets/img/logo/logo2.png" class="logo-icon" alt="logo icon">
						</div>
						<div>
							<h4 class="logo-text">Dream Serve</h4>
						</div>
						<div class="toggle-icon ms-auto">
							<i class='bx bx-arrow-to-left'></i>
						</div>
					</div>

					<!--navigation-->
					<ul class="metismenu" id="menu">
						<li>
							<a asp-controller="admin" asp-action="Index" class="has-arrow">

								<div class="parent-icon">
									<i class='bx bx-home-circle'></i>
								</div>
								<div class="menu-title">Dashboard</div>
							</a>
						</li>
						<li>
							<a asp-controller="admin" asp-action="JobList" class="has-arrow">

								@*							<a href="viewJob.aspx" class="has-arrow">
								*@								<div class="parent-icon">
									<i class="bx bx-category"></i>
								</div>
								<div class="menu-title">Job List</div>
							</a>

						</li>
						<li>
							<a asp-controller="admin" asp-action="NewJob" class="has-arrow">
								<div class="parent-icon">
									<i class="bx bx-category"></i>
								</div>
								<div class="menu-title">New Job</div>
							</a>

						</li>

						<li>
							<a asp-controller="admin" asp-action="UserList" class="has-arrow">
								<div class="parent-icon">
									<i class="bx bx-category"></i>
								</div>
								<div class="menu-title">User List</div>
							</a>

						</li>


					</ul>
					<!--end navigation-->
				</div>
				<!--end sidebar wrapper -->
				<!--start header -->
				<header>
					<div class="topbar d-flex align-items-center">
						<nav class="navbar navbar-expand">
							<div class="mobile-toggle-menu">
								<i class='bx bx-menu'></i>
							</div>
							<div class="search-bar flex-grow-1">
								<div class="position-relative search-bar-box">
									<input type="text" class="form-control search-control" placeholder="Type to search..."> <span class="position-absolute top-50 search-show translate-middle-y"><i class='bx bx-search'></i></span>
									<span class="position-absolute top-50 search-close translate-middle-y"><i class='bx bx-x'></i></span>
								</div>
							</div>

							<div class="user-box dropdown">
								<a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									<img src="/DBAssests/images/avatars/avatar-1.png" class="user-img" alt="admin avatar">
									<div class="user-info ps-3">
										<p class="user-name mb-0"> Awadhesh</p>
										<p class="designattion mb-0">Dream Serve </p>
									</div>
								</a>
								<ul class="dropdown-menu dropdown-menu-end">
									<li>
										<a class="dropdown-item" asp-controller="Home" asp-action="Index"><i class="bx bx-user"></i><span>Back to Home</span></a>
									</li>
									<li>
									<a class="dropdown-item" asp-controller="admin" asp-action="Index"><i class="bx bx-user"></i><span>Dashboard</span></a>
									</li>
									<li>
									<a class="dropdown-item"  asp-controller="admin" asp-action="UserList"><i class="bx bx-cog"></i><span>UserList</span></a>
									</li>
									<li>
									<a class="dropdown-item" asp-controller="admin" asp-action="JobList"><i class='bx bx-home-circle'></i><span>JobList</span></a>
									</li>
									

									<li>
										<div class="dropdown-divider mb-0"></div>
									</li>
									<li>
										<a class="dropdown-item" asp-controller="Home" asp-action="Index"><i class='bx bx-log-out-circle'></i><span>Logout</span></a>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</header>
				<!--end header -->
				<!--start page wrapper -->

			</div>


			@RenderBody()


			<div>
				<!--end page wrapper -->
				<!--start overlay-->
				<div class="overlay toggle-icon"></div>
				<!--end overlay-->
				<!--Start Back To Top Button-->
				<a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
				<!--End Back To Top Button-->
				<footer class="page-footer">
					<p class="mb-0">Copyright © 2022. All right reserved.</p>
				</footer>
			</div>
			<!--end wrapper-->
			<!--start switcher-->
			<div class="switcher-wrapper">
				<div class="switcher-btn">
					<i class='bx bx-cog bx-spin'></i>
				</div>
				<div class="switcher-body">
					<div class="d-flex align-items-center">
						<h5 class="mb-0 text-uppercase">Theme Customizer</h5>
						<button type="button" class="btn-close ms-auto close-switcher" aria-label="Close"></button>
					</div>
					<hr />
					<h6 class="mb-0">Theme Styles</h6>
					<hr />
					<div class="d-flex align-items-center justify-content-between">
						<div class="form-check">
							<input class="form-check-input" type="radio" name="flexRadioDefault" id="lightmode" checked>
							<label class="form-check-label" for="lightmode">Light</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="flexRadioDefault" id="darkmode">
							<label class="form-check-label" for="darkmode">Dark</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="flexRadioDefault" id="semidark">
							<label class="form-check-label" for="semidark">Semi Dark</label>
						</div>
					</div>
					<hr />
					<div class="form-check">
						<input class="form-check-input" type="radio" id="minimaltheme" name="flexRadioDefault">
						<label class="form-check-label" for="minimaltheme">Minimal Theme</label>
					</div>
					<hr />
					<h6 class="mb-0">Header Colors</h6>
					<hr />

					<div class="header-colors-indigators">
						<div class="row row-cols-auto g-3">
							<div class="col">
								<div class="indigator headercolor1" id="headercolor1"></div>
							</div>
							<div class="col">
								<div class="indigator headercolor2" id="headercolor2"></div>
							</div>
							<div class="col">
								<div class="indigator headercolor3" id="headercolor3"></div>
							</div>
							<div class="col">
								<div class="indigator headercolor4" id="headercolor4"></div>
							</div>
							<div class="col">
								<div class="indigator headercolor5" id="headercolor5"></div>
							</div>
							<div class="col">
								<div class="indigator headercolor6" id="headercolor6"></div>
							</div>
							<div class="col">
								<div class="indigator headercolor7" id="headercolor7"></div>
							</div>
							<div class="col">
								<div class="indigator headercolor8" id="headercolor8"></div>
							</div>
						</div>
					</div>
					<hr />
					<h6 class="mb-0">Sidebar Colors</h6>
					<hr />


					<div class="header-colors-indigators">
						<div class="row row-cols-auto g-3">
							<div class="col">
								<div class="indigator sidebarcolor1" id="sidebarcolor1"></div>
							</div>
							<div class="col">
								<div class="indigator sidebarcolor2" id="sidebarcolor2"></div>
							</div>
							<div class="col">
								<div class="indigator sidebarcolor3" id="sidebarcolor3"></div>
							</div>
							<div class="col">
								<div class="indigator sidebarcolor4" id="sidebarcolor4"></div>
							</div>
							<div class="col">
								<div class="indigator sidebarcolor5" id="sidebarcolor5"></div>
							</div>
							<div class="col">
								<div class="indigator sidebarcolor6" id="sidebarcolor6"></div>
							</div>
							<div class="col">
								<div class="indigator sidebarcolor7" id="sidebarcolor7"></div>
							</div>
							<div class="col">
								<div class="indigator sidebarcolor8" id="sidebarcolor8"></div>
							</div>
						</div>
					</div>
				</div>
			</div>


	</form>
	<!-- Bootstrap JS -->
	<script src="DBAssests/js/bootstrap.bundle.min.js"></script>
	<!--plugins-->
	<script src="/DBAssests/js/jquery.min.js"></script>
	<script src="/DBAssests/plugins/simplebar/js/simplebar.min.js"></script>
	<script src="/DBAssests/plugins/metismenu/js/metisMenu.min.js"></script>
	<script src="/DBAssests/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
	<script src="/DBAssests/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
	<script src="/DBAssests/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
	<script src="/DBAssests/plugins/chartjs/js/Chart.min.js"></script>
	<script src="/DBAssests/plugins/chartjs/js/Chart.extension.js"></script>
	<script src="/DBAssests/js/index.js"></script>
	<!--app JS-->
	<script src="/DBAssests/js/app.js"></script>

</body>
</html>
